<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Film Homepage</h1>
    <h2><%= user.displayName %>'s Film List</h2>
    <div class="logout">
    <a class="logoutLink" href="/auth/logout">Logout</a>
    </div>


    <form class="searchFilm" action="/films/createFilm" method="POST">
        <input class="titleName" type="text" placeholder="add film" name="filmTitle">
        <input class="submitBtn" type="submit">
    </form>

<div class="toWatch">
    <h3>Films to watch</h3>

    <ul>
        <% films.forEach( el => { %>
                <li class='filmList' data-id='<%=el._id%>'>
                    <div class="filmBlock <%= el.completed === true ? 'completed' : 'not'%>">
                    <img class="filmPic" src="<%= el.filmImg %>">
                    <span class='del'><i class='fa-solid fa-trash-can'></i></span>
                    </div>
                </li>
        <% }) %>    
        </ul>
        
   
</div>
<div class="watched">
    <h3>Watched</h3>

    <ul class="watchedList">
        <% films.forEach( el => { %>
             <li class='filmList' data-id='<%=el._id%>'>
              <div class="filmBlock <%= el.completed === true ? 'showFilm' : 'completed'%>">
                <img class="filmPic" src="<%= el.filmImg %>">
                <span class='del'><i class='fa-solid fa-trash-can'></i></span>
                </div>
            </li>
        
       <% }) %>
    </ul>
    </div>
    <script src="js/main.js"></script>
</body>
</html>